body{
  background-color: #333;
  color: #fff;
  text-align: center;
}
#root {
  padding: 2rem;
}
.contato {
  display: flex;
  flex-direction: row;
  display: inline-block;
  margin-left: 30%;
}
.logo {
  height: 40px;  
}
.pagina {
  display: grid;
  place-items: center;
  margin-top: 40px;
}
.typewriter{
  width: 27ch;
  animation: typing 2s steps(30), blink .5s step-end infinite alternate;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid #04AA6D;
  font-family: monospace;
  font-size: 2em;
}
@keyframes typing {
  from { width: 0 }
}
@keyframes blink {
  50% {
    border-color: transparent}
}
.topnav {
  width:100%;
	height: 55px;
  overflow: hidden;
	background-color:#666;
	border-radius: 14px;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 10px 16px;
  text-decoration: none;
  font-size: 20px;
  height: 54px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #04AA6D;
  color: white;
}
.home{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.container {
  display: flex;
  justify-content: space-between;
}

.sobre {
  width: 50%;
  text-align: left;
  padding: 20px;
  margin-top: 140px;
}

.fotoperfil {
  width: 50%;
}
.Curriculo{
  text-align: center;
}
.curriculo{
  margin-bottom: 20px;
  width: 30%;
  height: 30%;
}
.download{
  width: 5%;
  height: 5%;
}
.download:hover{
  cursor:pointer
}
.skills {
  width: 410px;
  height: 254px;
  border-radius: 4px;
  background: #333;
  display: flex;
  gap: 5px;
  padding: .4em;
  margin: 0 auto;
}

.skills p {
  height: 100%;
  flex: 1;
  overflow: hidden;
  cursor: pointer;
  border-radius: 2px;
  transition: all .5s;
  background: #333;
  border: 1px solid #04AA6D;
  display: flex;
  justify-content: center;
  align-items: center;
}

.skills p:hover {
  flex: 4;
}

.skills p span {
  min-width: 14em;
  padding: .5em;
  text-align: center;
  transform: rotate(-90deg);
  transition: all .5s;
  text-transform: uppercase;
  color: #04AA6D;
  letter-spacing: .1em;
}

.skills p:hover span {
  transform: rotate(0);
}
.portfolio{
  position: relative;
  padding: 10px 20px;
  border-radius: 7px;
  border: 1px solid #04AA6D;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 2px;
  background: transparent;
  color: #fff;
  overflow: hidden;
  box-shadow: 0 0 0 0 transparent;
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  
}
.portfolio:hover {
  background: #04aa6d;
  box-shadow: 0 0 30px 5px rgba(0, 218, 47, 0.815);
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
.portfolio:hover::before {
  -webkit-animation: sh02 0.5s 0s linear;
  -moz-animation: sh02 0.5s 0s linear;
  animation: sh02 0.5s 0s linear;
}
.portfolio::before {
  content: '';
  display: block;
  width: 0px;
  height: 86%;
  position: absolute;
  top: 7%;
  left: 0%;
  opacity: 0;
  background: #fff;
  box-shadow: 0 0 50px 30px #fff;
  -webkit-transform: skewX(-20deg);
  -moz-transform: skewX(-20deg);
  -ms-transform: skewX(-20deg);
  -o-transform: skewX(-20deg);
  transform: skewX(-20deg);
}
@keyframes sh02 {
  from {
    opacity: 0;
    left: 0%;
  }

  50% {
    opacity: 1;
  }

  to {
    opacity: 0;
    left: 100%;
  }
}
.portfolio:active {
  box-shadow: 0 0 0 0 transparent;
  -webkit-transition: box-shadow 0.2s ease-in;
  -moz-transition: box-shadow 0.2s ease-in;
  transition: box-shadow 0.2s ease-in;
}
.ppe{
  position: relative;
  padding: 10px 20px;
  border-radius: 7px;
  border: 1px solid #04AA6D;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 2px;
  background: transparent;
  color: #fff;
  overflow: hidden;
  box-shadow: 0 0 0 0 transparent;
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;

}
.ppe:hover {
  background: #04aa6d;
  box-shadow: 0 0 30px 5px rgba(0, 218, 47, 0.815);
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
.ppe:hover::before {
  -webkit-animation: sh02 0.5s 0s linear;
  -moz-animation: sh02 0.5s 0s linear;
  animation: sh02 0.5s 0s linear;
}
.ppe::before {
  content: '';
  display: block;
  width: 0px;
  height: 86%;
  position: absolute;
  top: 7%;
  left: 0%;
  opacity: 0;
  background: #fff;
  box-shadow: 0 0 50px 30px #fff;
  -webkit-transform: skewX(-20deg);
  -moz-transform: skewX(-20deg);
  -ms-transform: skewX(-20deg);
  -o-transform: skewX(-20deg);
  transform: skewX(-20deg);
}
@keyframes sh02 {
  from {
    opacity: 0;
    left: 0%;
  }

  50% {
    opacity: 1;
  }

  to {
    opacity: 0;
    left: 100%;
  }
}
.ppe:active {
  box-shadow: 0 0 0 0 transparent;
  -webkit-transition: box-shadow 0.2s ease-in;
  -moz-transition: box-shadow 0.2s ease-in;
  transition: box-shadow 0.2s ease-in;
}
.project{
  position: relative;
  padding: 40px 0;
}

.project h2{
  font-size: 30px;
  font-weight: 700;
  text-align: center;
}

.project p {
  color: #B8B8B8;
  font-size: 18px;
  letter-spacing: 0.8px;
  line-height: 1.5em;
  margin: 14px auto 30px auto;
  text-align: center;
  width: 56%;
}

.project .nav.nav-pills {
  width: 72%;
  margin: 0 auto;
  border-radius: 50px;
  background-color: rgb(255, 255, 255 / 10%);
  overflow: hidden;
}

.project .nav.nav-pills .nav-item{
  width: 50%;
}

.project .nav.nav-pills .nav-link{
  background-color:#183d4e;
  border-radius: 4;
  padding: 20px ;
  color: #ffffff;
  width: 100%;
  font-size: 17px;
  letter-spacing: 3px;
  font-weight: 500;
  position: relative;
  transition: 1s ease-in-out;
  text-align: center;
}


.project .nav.nav-pills .nav-link::before{
  content: "";
  position: absolute;
  width: 0;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
  transition: 0.4s ease-in-out;
}

.project .nav.nav-pills .nav-link.active::before{
  width: 100% !important;


}

.project .nav.nav-pills .nav-link.active{
  border: 1px solid rgb(8, 59, 117);
  background-color: #91AA9D;
  letter-spacing: 7px;
  background-color: #91AA9D; /* Alterar a cor de fundo ativa */
  border-color: #91AA9D; /* Alterar a cor da borda ativa */

}

.nav-link#projects-tabs-tab-natureza{
  border: 1px solid rgba(167, 182, 204, 0.5);
  border-radius: 55px, 0px, 0px, 55px;
}

.nav-link#projects-tabs-tab-matematica{
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}
.nav-link#projects-tabs-tab-humanas{
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}
.nav-link#projects-tabs-tab-linguagens{
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

.proj-imgbx{
  position: relative;
  border-radius: 30px;
  overflow: hidden;
  margin-bottom: 24px;
  width: 400px;
  height: 400px;
}

.proj-imgbx::before{
  content: "";
  background: linear-gradient(#193441, #3E606F, #587581);
  opacity: 0.85;
  position: absolute;
  width: 100%;
  height: 0;
  transition: 0.4s ease-in-out;
}

.proj-imgbx:hover::before{
  height: 100%;
}

.proj-txtx{
  position: absolute;
  text-align: center;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: 0.5s ease-in-out;
  opacity: 0;
  width: 100%;

}

.proj-imgbx:hover .proj-txtx{
  top: 50%;
  opacity: 1;
  color: rgb(208, 228, 236);
}

.proj-txtx h4{
  font-size: 30px;
  font-weight: 700;
  letter-spacing: 0.8px;
  line-height: 1.1em;
}

.proj-txtx span {
  font-style: italic;
  font-weight: 400;
  font-size: 15px;
}
.tecnico{
  position: relative;
  padding: 40px 0;
  margin-left: 14%;
}

.tecnico h2{
  font-size: 30px;
  font-weight: 700;
  text-align: center;
}

.tecnico p {
  color: #B8B8B8;
  font-size: 18px;
  letter-spacing: 0.8px;
  line-height: 1.5em;
  margin: 14px auto 30px auto;
  text-align: center;
  width: 36%;
}

.tecnico .nav.nav-pills {
  width: 62%;
  margin: 0 auto;
  border-radius: 50px;
  background-color: rgb(255, 255, 255 / 10%);
  overflow: hidden;
}

.tecnico .nav.nav-pills .nav-item{
  width: 50%;
}

.tecnico .nav.nav-pills .nav-link{
  background-color:#183d4e;
  border-radius: 4;
  padding: 20px ;
  color: #ffffff;
  width: 100%;
  font-size: 17px;
  letter-spacing: 3px;
  font-weight: 500;
  position: relative;
  transition: 1s ease-in-out;
  text-align: center;
}


.tecnico .nav.nav-pills .nav-link::before{
  content: "";
  position: absolute;
  width: 0;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
  transition: 0.4s ease-in-out;
}

.tecnico .nav.nav-pills .nav-link.active::before{
  width: 20% !important;


}

.tecnico .nav.nav-pills .nav-link.active{
  border: 1px solid rgb(8, 59, 117);
  background-color: #91AA9D;
  letter-spacing: 7px;
  background-color: #91AA9D; /* Alterar a cor de fundo ativa */
  border-color: #91AA9D; /* Alterar a cor da borda ativa */

}

.nav-link#tecnicos-tabs-tab-desenvolvimento{
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  height: 80px;
}

.nav-link#tecnicos-tabs-tab-implantação{
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  height: 80px;
}
.nav-link#tecnicos-tabs-tab-modelagem{
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}
